<%- include("header")-%>
<h2>About US</h2>
<p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, nemo ratione hic voluptas quia explicabo molestiae veniam sapiente necessitatibus rem.</p>
<%- include("footer")-%>